.section.see
    .container
        h2 See our Best Shots
    .swiper.see__swiper
        .swiper-wrapper
            .swiper-slide.shots
                .shots__content
                    img.shots__img(src=require('@images/see/1.png'))
                    .shots__items
                        .shots__item
                            +icon('like')
                            p.shots__text 412
                        .shots__item
                            +icon('comments')
                            p.shots__text 140
                    p Lorem Ipsum Amet
                    .shots__links
                        span.shots__link #music
                        span.shots__link  #concert
                        span.shots__link  #conference
                        span.shots__link  #london
                        span.shots__link  #event
                        span.shots__link  #artist
                        span.shots__link  #dj
                        span.shots__link  #soundtrack
                        span.shots__link  #dance
            .swiper-slide.shots
                .shots__content
                    img.shots__img(src=require('@images/see/2.png'))
                    .shots__items
                        .shots__item
                            +icon('like')
                            p.shots__text 412
                        .shots__item
                            +icon('comments')
                            p.shots__text 140
                    p Lorem Ipsum Amet
                    .shots__links
                        span.shots__link #music
                        span.shots__link  #concert
                        span.shots__link  #conference
                        span.shots__link  #london
                        span.shots__link  #event
                        span.shots__link  #artist
                        span.shots__link  #dj
                        span.shots__link  #soundtrack
                        span.shots__link  #dance
            .swiper-slide.shots
                .shots__content
                    img.shots__img(src=require('@images/see/3.png'))
                    .shots__items
                        .shots__item
                            +icon('like')
                            p.shots__text 412
                        .shots__item
                            +icon('comments')
                            p.shots__text 140
                    p Lorem Ipsum Amet
                    .shots__links
                        span.shots__link #music
                        span.shots__link  #concert
                        span.shots__link  #conference
                        span.shots__link  #london
                        span.shots__link  #event
                        span.shots__link  #artist
                        span.shots__link  #dj
                        span.shots__link  #soundtrack
                        span.shots__link  #dance
            .swiper-slide.shots
                .shots__content
                    img.shots__img(src=require('@images/see/4.png'))
                    .shots__items
                        .shots__item
                            +icon('like')
                            p.shots__text 412
                        .shots__item
                            +icon('comments')
                            p.shots__text 140
                    p Lorem Ipsum Amet
                    .shots__links
                        span.shots__link #music
                        span.shots__link  #concert
                        span.shots__link  #conference
                        span.shots__link  #london
                        span.shots__link  #event
                        span.shots__link  #artist
                        span.shots__link  #dj
                        span.shots__link  #soundtrack
                        span.shots__link  #dance
            .swiper-slide.shots
                .shots__content
                    img.shots__img(src=require('@images/see/5.png'))
                    .shots__items
                        .shots__item
                            +icon('like')
                            p.shots__text 412
                        .shots__item
                            +icon('comments')
                            p.shots__text 140
                    p Lorem Ipsum Amet
                    .shots__links
                        span.shots__link #music
                        span.shots__link  #concert
                        span.shots__link  #conference
                        span.shots__link  #london
                        span.shots__link  #event
                        span.shots__link  #artist
                        span.shots__link  #dj
                        span.shots__link  #soundtrack
                        span.shots__link  #dance
