.section.singers
    .singers-decorations
        img(src=require('@images/decorations/singers/1.svg')).singers-decorations__image
        img(src=require('@images/decorations/singers/2.svg')).singers-decorations__image
    .content
        .container
            .singers__items
                .singers__item
                    h2.singers__title Singers
                    p Fusce justo mi, vehicula id arcu et, dapibus tristique lectus. Vivamus a elit sodales, tincidunt nunc non, maximus lacus. Fusce a augue sed dolor auctor iaculis vitae id mauris. Integer ut lectus non neque suscipit luctus. Mauris et erat id ipsum condimentum cursus. Sed tempus enim non massa mattis iaculis. In quis massa risus
                    a(href="#").btn.btn--singers View All Singers
                        +icon("more")
                .singers__item
                    .singers__images
                        .singers__image
                            img(src=require('@images/singers/1.png'))
                        .singers__image
                            img(src=require('@images/singers/2.png'))
                    .singers__images
                        .singers__image
                            img(src=require('@images/singers/3.png'))
                        .singers__image
                            img(src=require('@images/singers/4.png'))
