.section.sponsors
    .container
        h2.sponsors__title Our Sponsors
        .sponsors__wrapper
            .sponsors__row
                img.sponsors__image(src=require('@images/sponsors/1.png'))
                img.sponsors__image(src=require('@images/sponsors/2.png'))
                img.sponsors__image(src=require('@images/sponsors/3.png'))
                img.sponsors__image(src=require('@images/sponsors/4.png'))
            .sponsors__row
                img.sponsors__image(src=require('@images/sponsors/5.png'))
                img.sponsors__image(src=require('@images/sponsors/6.png'))
                img.sponsors__image(src=require('@images/sponsors/7.png'))
                img.sponsors__image(src=require('@images/sponsors/8.png'))
        .sponsors__btn
            a.btn.btn--sponsors Become a Sponsor